/* assets/styles/global.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .v-navigation-drawer {
    background-color: #1a237e; /* Indigo darken-4 */
  }
  
  .v-toolbar {
    background-color: #3949ab; /* Indigo */
    color: white;
  }
  
  .v-btn--primary {
    background-color: #3949ab !important; /* Indigo */
    color: white !important;
  }
  
  .v-btn--secondary {
    background-color: #f5f5f5 !important; /* Light Grey */
    color: #333 !important;
  }
  